<div class="mx-3">
  <form class="my-3" action="/tasks/add" method="POST">
    <div class="mb-3">
      <label class="form-label" for="title">Write a title</label>
      <input class="form-control" type="text" name="title" placeholder="title" id="title">
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Write a description</label>
      <textarea  
        class="form-control"
        name="description" 
        placeholder="write a description" 
        id="description"
        ></textarea>
    </div>
    <button class="btn btn-primary">Agregar</button>
  </form>
</div>
